$roboto: "Roboto Condensed", sans-serif;
$robotoregular: "Roboto", sans-serif;
$montserrat: "Montserrat", sans-serif;
$cairo: "Cairo", sans-serif;
$primarycolor: #d10024;
$secondarycolor: #2f7dfc;
$accentcolor: #cf0a0a;
$softborder: #dbdbdb;
