$robotofont: "Roboto Condensed", sans-serif;
$poppinsfont: Poppins, sans-serif;
$cairofont: Cairo, sans-serif;

$colors: (
	primary: #6c00ff,
	secondary: #3c79f5,
	accent: " #cf0a0a",
);

$breakpoints: (
	"tablet": 576px,
	"medium": 768px,
	"large": 992px,
	"xlarge": 1200px,
	"xxlarge": 1400px,
);
$direction: rtl;
