@use '../helper/var';

.table>:not(:last-child)>:last-child>* {
    border-bottom: 1px solid #e8e8e8;
}

.table>:not(caption)>*>* {
    border-bottom: none;
}


.table tbody tr:not(:last-child) td {
    border-bottom: 1px solid #efefef !important;

}

.table {
    th {
        color: #626262;
        font-weight: normal;

    }

    td {
        color: var.$gray;
        font-size: 15px;
        vertical-align: middle;
        height: 54px;
    }
}