.footer {
    background-color: #eee;
    padding-top: 30px;
    width: 100%;
}

.footer .address-title {
    font-family: var(--roboto);
    color: var(--primarycolor);
    font-weight: 600;
}

.footer .description {
    color: #676767;
    font-weight: 500;
    font-family: var(--montserrat);
}

.footer .social-link a {
    margin-right: 14px;
    font-size: 1.4rem;
    color: #555;
}

.footer .contact .item a,
.footer .more-info .item a {
    text-decoration: none;
    color: #343333;
    font-weight: 500;
    margin-bottom: 6px;
    display: block;
    font-family: var(--roboto);
}

.footer .app .app-title,
.footer .contact .contact-title,
.footer .more-info .more-info-title {
    font-weight: bold;
    color: var(--primarycolor)
}

.footer .app .app-btn {
    border: none;
    background-color: #212222;
    color: #fff;
    display: block;
    margin-bottom: 6px;
    width: 160px;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: left;
}

.footer .app .app-btn .icon {
    display: inline-block;
    font-size: 1.5rem;
    vertical-align: middle;
}

.footer .app .app-btn a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    font-size: 0.7rem;
    font-weight: 500;
}

.footer .app .app-btn a span {
    font-size: 1.2rem;
    font-family: var(--roboto);
    font-weight: bold;
}

.footer .copy-right {
    background: #000;
    color: #fff;
    padding: 5px;
    font-family: var(--roboto);
    margin-top: 10px;
    font-size: 0.9rem
}